# Jung Home Gateway disk dump for debugging
disk_dump
REVIEW_TASKS.md

# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
.ruff_cache


# Home Assistant configuration
config/*
!config/configuration.yaml
